# Personal files
NeuroVision-dev/
Allotment/

# IDEs
.vscode/

# Bytecode
__pycache__/

# Personal data files
*.csv
*.png

# Private video and image files
*.mp4
*.jpg
*.jpeg

# Private python files
*.py
*.ipynb

# Allow one python file to be tracked
!function.py
!gui.py